.range-input {
    -webkit-appearance: none; /* Remove estilo padrão do navegador */
    width: 100%;
    height: 8px;
    background: red; /* Cor da barra base (track) */
    border-radius: 50%;
    outline: gray;
  }
  
  /* Estilos para Chrome, Safari, Edge baseado em WebKit */
  .range-input::-webkit-slider-runnable-track {
    height: 8px;
    background: red;
    border-radius: 2px;
  }
  
  .range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background: #fff;
    border: 2px solid red;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -4px; /* Ajusta a posição do thumb */
  }
  
  /* Para Firefox */
  .range-input::-moz-range-track {
    background: red;
    border-radius: 2px;
    height: 8px;
  }
  
  .range-input::-moz-range-thumb {
    height: 16px;
    width: 16px;
    background: #fff;
    border: 2px solid red;
    border-radius: 50%;
    cursor: pointer;
  }
  
  /* Para IE/Edge (versões antigas) */
  .range-input::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
    width: 100%;
    height: 4px;
  }
  
  .range-input::-ms-fill-lower {
    background: transparent;
    border-radius: 2px;
  }
  
  .range-input::-ms-fill-upper {
    background: transparent;
    border-radius: 2px;
  }
  